<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device - width , initial-scale = 1.0 ">
</head>

<body layout:fragment="page-content-plain">
	<div th:replace="fragments/administratorSidebar"></div>
	<div
		th:replace="fragments/page-heading-plain :: pageHeadingFragmentPlain(#{view.servicePlaces.list.title},'true','/administrator/servicePlaces/register - view')">
	</div>

	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Restorant Service_Places</th>
					<th>Shipping Cost</th>
					<th>EDIT</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${service_PlForm}">
					<td th:text="${user.Id}">Id</td>
					<td th:text="${user.servicePlaces}">Restorant Service_Places</td>
					<td th:text="${user.shippingCost}">Shipping Cost</td>
					<td>
						<a
							th:href="@{/administrator/servicePlaces/register - view(serviceP_Id = ${user.Id})}">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>